h1 {
    color:green;
    background-color: rgba(83, 206, 83, 0.5);
    width: 90%;
    font-size: 5rem;
    min-width:300px;
    max-width:450px;
    text-align: center;
    margin:0 auto;
    position: relative;
   
}

h2 {
    color:rgb(19, 165, 19);
    background-color: lavender;
    width: 50%;
    min-width:300px;
    max-width:450px;
    border-bottom: 5px solid blue;
    position: relative;
    top:10px;
    margin-bottom: 30px;
}


img {
    width: 260px;
    height: 150px;
    /*
    border-width: 10px;
    border-color: blue yellow green red;
    border-top-style: solid;
    border-bottom-style: dotted;
    border-right-style: ridge;
    */
    border: 10px solid pink;
    border-left-width:3px;
    border-top-color:orange;
    z-index:2;
}

p {
    width: 50%;
    position: relative;
}

section {
    width: 200px;
    border: 19px solid black;
    padding: 10px;
    padding-top: 30px;
}







#container {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}

#container .item {
    height: 100px;
    border: 3px solid red;
    margin: 1em 2em 3em 4em;
    }

#container .item:nth-of-type(2) {
    margin-left: 7em;
    margin-bottom: 100px;
    border-style: dotted solid;
    border-color: blue;
}

#container .item:hover {
    border: 10px solid olive;
    box-sizing: border-box;
    outline: plum 10px solid;
    outline-offset: 5px;
    }

p a {
    color: olive;
    font-size:1.5m;
    margin: 1em;
    height: 100px;
}


button {
    fontsize: 2rem;
    text-shadow: 2px 2px 2px  black;
    color: lightskyblue;
    border-radius: 10px;
    padding: .2em .7em;
    background-color: orangered;
    outline: none;
    
}

p {
    font-size: 1.5em;
    background-image: url("https://images.unsplash.com/photo-1588418468701-a83047a60173?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    
}

h3 {
    background-color: lightcoral;
    width: 50%;
    height: 100px;
    margin:2em;
}

a {
    background-color: lightseagreen;
    width: 300px;
    height: 300px;
    margin: 2em;

}

h5 {
    background-color: lightgreen;
    position: relative;
    top: 50px;
   width: 40%;
   font-size: 20px;
   
}

div.practice {
    width: 50%;
    border: 2px solid red;
    position: relative;
    font-size: 2rem;
}



div img {
    border: none;
    position: absolute;
    top: 40px;
    left: 50%;
}


#covid {
    left: 300px;
}

nav {
    background-color: olive;
    color: white;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
}

a.catdog {
    color: white;
    font-size: 2em;
}

@media (max-width: 1000px) {
    body {
        background-color: lightseagreen;
    }
    nav {
        background-color: orangered;

    }
}

@media (max-width: 700px) {
    body {
        background-color: lightsalmon;
    }
    nav {
        background-color: lightgrey;

    }
}


p.sumo {
    color: darkblue;
    border: solid;
    border-color: red;
    background-color: red;
}